<a href="https://colab.research.google.com/github/araldi/FS22---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L/blob/main/Week2/03_Intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

As you have seen, Python is a very powerful and dynamic programming language with several built-in functions. 

Sometimes, however, importing libraries is essential to perform certain operations without excessive coding from scratch.

Usually, at the beginning of the code or in the first cell of the notebook, you want to import all the libraries that you need.

In [1]:
# In this example, we will be importing the following libraries :
# pandas, 
# numpy, 

# let's import them!

import pandas as pd # the aliases speed up the calling the library
import numpy as np

If you are using a Jupyter Notebook/Lab on your computer, you need to first install Pandas and NumPy if you have not done so already.
Run this command on terminal:



```
pip install pandas
pip install numpy
```

# What can Pandas do for you?

Today we will learn:

* Create Series and DataFrames;

*   Import data in the form of DataFrames (tables);


* Get info on your imported DataFrames;

* Subset the DataFrame.

# Intro on Pandas DataFrame

## Create Series

In [2]:
# Create an empty Series
sr = pd.Series()
sr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Series([], dtype: float64)

In [5]:
# Create an empty Series, made of objects (strings)
sr = pd.Series(dtype = 'object')
sr

Series([], dtype: object)

In [6]:
# Create an empty Series, made of integers
sr = pd.Series(dtype = 'int64')
sr

Series([], dtype: int64)

In [7]:
sr = pd.Series(dtype = 'object', index = ['this', 'is', 'an', 'index'])
sr

this     NaN
is       NaN
an       NaN
index    NaN
dtype: object

In [9]:
content = ['THIS', 'IS', 'THE', 'CONTENT']
sr = pd.Series(content, dtype = 'object', index = ['this', 'is', 'an', 'index'])
sr

this        THIS
is            IS
an           THE
index    CONTENT
dtype: object

In [8]:
# Create random numbers with numpy (more info later)
np.random.randint(36, 46, 5)

array([38, 43, 37, 39, 37])

In [ ]:


shoe_size = pd.Series(np.random.randint(36, 46, 5)) #creates a series with 5 integer values included in the range 36-46
patient = pd.Series(['b', 'a', 'c', 'd', 'f'])

In [ ]:
['b', 'a', 'c', 'd', 'f']

['b', 'a', 'c', 'd', 'f']

In [ ]:
patient

0    b
1    a
2    c
3    d
4    f
dtype: object

In [ ]:
shoe_size

0    37
1    45
2    38
3    45
4    38
dtype: int64

## Create DataFrames

In [11]:
# create and empty dataframe

df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
# create and empty dataframe with specific columns

df = pd.DataFrame(columns = ['these', 'are', 'columns'])
df

Empty DataFrame
Columns: [these, are, columns]
Index: []

In [14]:
df = pd.DataFrame(columns = ['these', 'are', 'columns'], index = [0,1,2,3,4])
df

  these  are columns
0   NaN  NaN     NaN
1   NaN  NaN     NaN
2   NaN  NaN     NaN
3   NaN  NaN     NaN
4   NaN  NaN     NaN

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df1 = pd.DataFrame({'patient': ['b', 'a', 'c', 'e', 'f'], # this is the first column
                    'height [cm]': np.random.randint(140, 200, 5)} #this is the second columns
                   
                   )
df1

  patient  height [cm]
0       b          169
1       a          174
2       c          178
3       e          179
4       f          168

In [ ]:
type({'patient': ['b', 'a', 'c', 'e', 'f'], # this is the first column
                    'height [cm]': np.random.randint(140, 200, 5)} #this is the second columns
                   
                   )

dict

In [ ]:
df2 = pd.DataFrame({'patient': ['a', 'b', 'd','f'], 
                    'weight [kg]': np.random.uniform(45, 120, 4)})
df2

  patient  weight [kg]
0       a   100.587558
1       b    71.860663
2       d    59.701857
3       f    77.363304

In [ ]:
df3 = pd.DataFrame({'patient': ['b', 'a', 'c', 'd', 'f'], 
                    'shoe size [EU]': np.random.randint(36, 46, 5)})
df3

  patient  shoe size [EU]
0       b              40
1       a              36
2       c              43
3       d              38
4       f              36

#### Create DataFrame from Series

In [ ]:
df3 = pd.DataFrame()
# populate each column
df3['patient'] = patient
df3['shoe size [EU]'] = shoe_size
df3

  patient  shoe size [EU]
0       b              37
1       a              45
2       c              38
3       d              45
4       f              38

In [ ]:
df3['shoe size [EU]']

0    37
1    45
2    38
3    45
4    38
Name: shoe size [EU], dtype: int64

In [ ]:
df3

## Data import
Finally, let's import some data.

Most of the data you will deal with in this course is in the form of text (.txt), comma separated variables (.csv), tab separated variables (.tsv), excel files (.xlsx), etc.

Pandas will take care of importing different types of data.

It creates different objects to contain the data. We will use DataFrames at first.

#### Importing from web

Comma separated file: 


```
pd.read_csv('filename.csv')
```

In [17]:
SNP_file_name ="https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/CD93_exomeSNPs_annotation.csv"
SNPs = pd.read_csv(SNP_file_name)
SNPs

      Unnamed: 0  ... Chromosome/scaffold position end (bp)
0              0  ...                              23079620
1              1  ...                              23082535
2              2  ...                              23079544
3              3  ...                              23082290
4              4  ...                              23082347
...          ...  ...                                   ...
2306        2306  ...                              23085689
2307        2307  ...                              23085810
2308        2308  ...                              23086186
2309        2309  ...                              23086256
2310        2310  ...                              23086310

[2311 rows x 12 columns]

Tab separated file:


```
pd.read_csv(filename, sep='\t')
```

In [ ]:
#what happens when you try to upload a tsv file?
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv')

# tsv is a tab-separated file. You need to specify that with the argument sep='\t'
# similar instance if the file is separated by spaces. In the argument you will specify sep =' '

ParserError: ignored

In [ ]:
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv', 
                     sep='\t')
drugs

     PharmGKB Accession Id  ... PubChem Compound Identifiers
0              PA164712302  ...                          NaN
1              PA134967247  ...                        66414
2              PA131887008  ...                         1615
3              PA165958321  ...                       178014
4              PA165858618  ...                      9571836
...                    ...  ...                          ...
3443              PA451978  ...                         5734
3444               PA10236  ...                         5735
3445           PA164924567  ...                          NaN
3446              PA452606  ...                          NaN
3447              PA452629  ...                      5311507

[3448 rows x 24 columns]

In [18]:
pd.read_csv(SNP_file_name, sep='\t')

     ,Variant name,Variant consequence,Protein allele,Transcript stable ID,PolyPhen score,PolyPhen prediction,SIFT score,SIFT prediction,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp)
0     0,rs7492,3_prime_UTR_variant,,ENST00000246006,...
1     1,rs2567612,3_prime_UTR_variant,,ENST000002460...
2     2,rs2749811,3_prime_UTR_variant,,ENST000002460...
3     3,rs2749812,3_prime_UTR_variant,,ENST000002460...
4     4,rs2749813,3_prime_UTR_variant,,ENST000002460...
...                                                 ...
2306  2306,rs1600423846,synonymous_variant,P,ENST000...
2307  2307,rs1600424016,missense_variant,W/S,ENST000...
2308  2308,rs1600424406,missense_variant,T/P,ENST000...
2309  2309,rs1600424446,5_prime_UTR_variant,,ENST000...
2310  2310,rs1600424486,5_prime_UTR_variant,,ENST000...

[2311 rows x 1 columns]

In [19]:
# and an excel file?

ETH_workplaces =  pd.read_excel('https://github.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/pandas/FS%202021_ETH%20Workplaces%20.xlsx?raw=true')

In [20]:
ETH_workplaces

                                       Gebudebereich  ...               Sa + So
0                                                  ET  ...          geschlossen
1                                                  ET  ...          geschlossen
2                                                  ET  ...          geschlossen
3                                                  HC  ...  Sa: 9-19 / So: 10-16
4                                                  HC  ...          geschlossen
5                                                  HC  ...          geschlossen
6                                                  HG  ...         08:00 - 17:00
7                                                  HI  ...     Sa: 08:00 - 12:00
8                                                  HI  ...          geschlossen
9                                                  HP  ...          geschlossen
10                                                 HP  ...          geschlossen
11                                                 HP  ...          geschlossen
12                                                 HP  ...          geschlossen
13                                                 HP  ...          geschlossen
14                                                 HP  ...          geschlossen
15                                                 HP  ...          geschlossen
16                                                 ML  ...          geschlossen
17                                                 ML  ...          geschlossen
18                                                 ML  ...          geschlossen
19                                                 ML  ...          geschlossen
20                                                 RZ  ...          geschlossen
21                                                 RZ  ...          geschlossen
22                                                 RZ  ...          geschlossen
23                                                 UN  ...          geschlossen
24                                                 UN  ...          geschlossen
25                                                 UN  ...          geschlossen
26                                                 UN  ...          geschlossen
27                                                 UN  ...          geschlossen
28                                                NaN  ...                   NaN
29  Bitte verlassen Sie die Rumlichkeiten 15 Minu...  ...                   NaN

[30 rows x 4 columns]

Specify the sheet:



```
pd.read_excel('filename.xlsx', sheet_name='sheet_name')
```

#### Importing from a local drive

In [ ]:
# choose file from your computer (this works only in google colab, not in Jupyter notebook)
from google.colab import files
uploaded = files.upload()
file_name = 'kidpackgenes.csv'

KeyboardInterrupt: ignored

In [ ]:
import io
genes = pd.read_csv(io.BytesIO(uploaded[file_name]))
# Dataset is now stored in a Pandas Dataframe

#### Importing from Google Drive via PyDrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Create a folder on your google drive for this couse (in this case I called it HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L)

In [ ]:
!ls

drive  sample_data

In [ ]:
!pwd

/content

In [ ]:
!cd drive

In [ ]:
cd drive/

/content/drive

In [ ]:
ls

 example_saved_dataframe.csv          kidpackgenes.csv  'Week 2'/
'Google Colab instructions.gslides'  'Week 1'/

In [ ]:
!cd /content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L 
#changes to the folder of interest

In [ ]:
directory = '/content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L'
file_name = 'kidpackgenes.csv'

In [ ]:
genes = pd.read_csv('%s/%s' %(directory, file_name))
genes

      Unnamed: 0         1         2  ...        85        86        87
0              1 -0.146342 -0.520637  ...  0.550118  0.118934  0.327248
1              2 -0.465767  0.155823  ...  0.463746 -0.514230  0.200956
2              3 -0.088964 -0.208241  ... -0.199880 -0.415793 -0.032004
3              4 -0.327696 -1.714948  ... -0.215536  0.345946  0.056442
4              5 -0.092327 -0.660456  ... -0.491920 -0.722120  0.055477
...          ...       ...       ...  ...       ...       ...       ...
4219        4220 -0.314408  0.131512  ...  0.502573 -0.061042 -0.206210
4220        4221 -0.313823 -0.041095  ...  0.465487  0.024584 -0.264364
4221        4222 -0.091283  0.118607  ...  0.284263 -0.008146 -0.047151
4222        4223 -0.552395  0.125635  ...  0.246017 -0.002329  0.100187
4223        4224 -0.907778 -0.052512  ... -0.179660 -0.712337 -0.193261

[4224 rows x 75 columns]

#### Importing from your computer (on Jupyter Notebook)

In [ ]:
# on Jupyter Lab on your computer, you would add the path of the file
# for instance (in MacOsX )

genes = pd.read_csv('/Users/elisa/kidpackgenes.csv' )

# for instance (in Windows)

genes = pd.read_csv('C:\Documents\kidpackgenes.csv' )

## Get info about your DataFrame

#### Show parts of the DataFrame

In [ ]:
SNPs.head() #shows you the first n rows of the DataFrame

   Unnamed: 0  ... Chromosome/scaffold position end (bp)
0           0  ...                              23079620
1           1  ...                              23082535
2           2  ...                              23079544
3           3  ...                              23082290
4           4  ...                              23082347

[5 rows x 12 columns]

In [ ]:
SNPs.tail() # shows the end of the DataFrame

      Unnamed: 0  ... Chromosome/scaffold position end (bp)
2306        2306  ...                              23085689
2307        2307  ...                              23085810
2308        2308  ...                              23086186
2309        2309  ...                              23086256
2310        2310  ...                              23086310

[5 rows x 12 columns]

In [ ]:
SNPs.sample(10) # shows random rows of the DataFrame

      Unnamed: 0  ... Chromosome/scaffold position end (bp)
1672        1672  ...                              23083830
1011        1011  ...                              23082542
1646        1646  ...                              23081942
2022        2022  ...                              23080864
803          803  ...                              23080350
67            67  ...                              23084798
544          544  ...                              23083918
1231        1231  ...                              23082509
1345        1345  ...                              23082167
2265        2265  ...                              23081299

[10 rows x 12 columns]

#### Show info about size/shape of DataFrame, columns names, data types and null values

In [ ]:
SNPs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               2311 non-null   int64
 1   Variant name                             2311 non-null   object
 2   Variant consequence                      2311 non-null   object
 3   Protein allele                           989 non-null    object
 4   Transcript stable ID                     2311 non-null   object
 5   PolyPhen score                           639 non-null    float64
 6   PolyPhen prediction                      639 non-null    object
 7   SIFT score                               639 non-null    float64
 8   SIFT prediction                          639 non-null    object
 9   Chromosome/scaffold name                 2311 non-null   int64
 10  Chromosome/scaffold position start (bp)  2311 non-null   int64
 11  Chromosome/scaffold position end (bp)    2311 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 216.8+ KB

In [ ]:
SNPs.describe()

        Unnamed: 0  ...  Chromosome/scaffold position end (bp)
count  2311.000000  ...                           2.311000e+03
mean   1155.000000  ...                           2.308341e+07
std     667.272558  ...                           2.005379e+03
min       0.000000  ...                           2.307936e+07
25%     577.500000  ...                           2.308174e+07
50%    1155.000000  ...                           2.308388e+07
75%    1732.500000  ...                           2.308512e+07
max    2310.000000  ...                           2.308632e+07

[8 rows x 6 columns]

In [ ]:
SNPs.columns

Index(['Unnamed: 0', 'Variant name', 'Variant consequence', 'Protein allele',
       'Transcript stable ID', 'PolyPhen score', 'PolyPhen prediction',
       'SIFT score', 'SIFT prediction', 'Chromosome/scaffold name',
       'Chromosome/scaffold position start (bp)',
       'Chromosome/scaffold position end (bp)'],
      dtype='object')

In [ ]:
SNPs.index

RangeIndex(start=0, stop=2311, step=1)

In [ ]:
SNPs.dtypes

Unnamed: 0                                   int64
Variant name                                object
Variant consequence                         object
Protein allele                              object
Transcript stable ID                        object
PolyPhen score                             float64
PolyPhen prediction                         object
SIFT score                                 float64
SIFT prediction                             object
Chromosome/scaffold name                     int64
Chromosome/scaffold position start (bp)      int64
Chromosome/scaffold position end (bp)        int64
dtype: object

In [ ]:
# how many null values in the data frame?
SNPs.isna().sum()

Unnamed: 0                                    0
Variant name                                  0
Variant consequence                           0
Protein allele                             1322
Transcript stable ID                          0
PolyPhen score                             1672
PolyPhen prediction                        1672
SIFT score                                 1672
SIFT prediction                            1672
Chromosome/scaffold name                      0
Chromosome/scaffold position start (bp)       0
Chromosome/scaffold position end (bp)         0
dtype: int64

In [ ]:
# how many null values in a specific column?
SNPs['PolyPhen prediction'].isna().sum()

1672

# Getting data from DataFrames

#### Get values from one column

In [ ]:
SNPs['Variant name']

0             rs7492
1          rs2567612
2          rs2749811
3          rs2749812
4          rs2749813
            ...
2306    rs1600423846
2307    rs1600424016
2308    rs1600424406
2309    rs1600424446
2310    rs1600424486
Name: Variant name, Length: 2311, dtype: object

In [ ]:
#columns are Series!!!

type(SNPs['Variant name'])

pandas.core.series.Series

In [ ]:
type(SNPs)

pandas.core.frame.DataFrame

#### Get a value from a specific position of the dataframe

When you have the names of the columns, use:


.loc[ ]

In [ ]:
# index 10 and column Variant name
SNPs.loc[10, 'Variant name']

'rs3746732'

In [ ]:
# a range of rows and column Variant name
SNPs.loc[10:20, 'Variant name']

10    rs3746732
11    rs3803984
12    rs3803985
13    rs3803986
14    rs6048536
15    rs6048537
16    rs6048538
17    rs6048539
18    rs6076019
19    rs6076020
20    rs6076020
Name: Variant name, dtype: object

In [ ]:
# a range of rows for all columns
SNPs.loc[10:20, :]

    Unnamed: 0  ... Chromosome/scaffold position end (bp)
10          10  ...                              23084705
11          11  ...                              23080094
12          12  ...                              23081506
13          13  ...                              23082256
14          14  ...                              23082570
15          15  ...                              23083648
16          16  ...                              23085537
17          17  ...                              23085701
18          18  ...                              23083642
19          19  ...                              23085688
20          20  ...                              23085688

[11 rows x 12 columns]

When you have the numerical coordinates, use:

.iloc[ ]

In [ ]:
SNPs.iloc[10, 2]

row = 10
column = 2
SNPs.iloc[row, column]

'synonymous_variant'

#### Broadcasting

I want to know the variant consequence of the variant rs3746732

In [ ]:
# use a boolean mask as row selection

mask = SNPs['Variant name'] == 'rs6076020'

SNPs.loc[mask, :]

    Unnamed: 0  ... Chromosome/scaffold position end (bp)
19          19  ...                              23085688
20          20  ...                              23085688

[2 rows x 12 columns]

In [ ]:
SNPs['Variant name'] == 'rs3746732'

0       False
1       False
2       False
3       False
4       False
        ...
2306    False
2307    False
2308    False
2309    False
2310    False
Name: Variant name, Length: 2311, dtype: bool

#### Select only specific columns of the DataFrame

In [ ]:
drugs_subset = drugs[['PharmGKB Accession Id' ,	'Name', 'Type']] # list of columns!
drugs_subset

     PharmGKB Accession Id  ...        Type
0              PA164712302  ...  Drug Class
1              PA134967247  ...        Drug
2              PA131887008  ...        Drug
3              PA165958321  ...        Drug
4              PA165858618  ...        Drug
...                    ...  ...         ...
3443              PA451978  ...        Drug
3444               PA10236  ...        Drug
3445           PA164924567  ...        Drug
3446              PA452606  ...        Drug
3447              PA452629  ...        Drug

[3448 rows x 3 columns]

# Save the dataframe with .to_csv()

In [ ]:
# save the dataframe on a specific folder in your google drive
directory = '/content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L'

df3.to_csv('%s/example_saved_dataframe.csv' %directory)

In [ ]:
# save the data in google colab space (see the file explorer on the left)

df3.to_csv('/content/sample_data/example_saved_dataframe.csv')
# and then download it
files.download('example_saved_dataframe.csv')

In [ ]:
# on a Jupyter notebook on your computer, simply specify your folder of interest and file

df3.to_csv('/Users/elisa/Documents/file.csv')

# Exercises

#### Exercise 1

Import a csv file from your computer and get the info on column names, size, data types, number of null values per column.

#### Exercise 1b

Import an excel file from your computer and do the same as above.

#### Exercise 2

From the DataFrame above, select only the first 4 columns, and save the dataset as "dataframe.csv" on a new "exercise" folder in your google drive.

#### Exercise 3

Create a dictionary that has as key PharmGKB Accession Id and as values the Name of the drug (dataframe *drugs* from above)

In [ ]:
drugs.head()

#### Exercise 4

Find the row in the file above for aspirin.