<a href="https://colab.research.google.com/github/araldi/FS22---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L/blob/main/Additional_exercises/01_Numpy_and_Pandas_easy_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Easy exercises

In [ ]:
# import pandas and numpy and give them easy aliases

### NumPy

In [ ]:
# Create a numpy array (called a) with 10 random numbers taken from a standard distribution

In [ ]:
# Create a numpy array (called b) with 10 random integer numbers

In [ ]:
# Sum a and b

In [ ]:
# Multiply a and b

In [ ]:
# Elevate a to the power of b

In [ ]:
# Calculate mean and standard deviation of a and b

In [ ]:
# Create a numpy array made of a random quantity of zeros

In [ ]:
# Create a numpy array made of a random quantity of ones

#### Pandas

In [ ]:
# open this csv file and assign it to a variable called df to be used in the next cells
# https://github.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/numpy/Week2_homework_data.csv?raw=true

In [ ]:
# See the first 15 entries

In [ ]:
# See the last 15 entries

In [ ]:
# What is the number of observations in the dataset?

In [ ]:
# What is the number of columns in the dataset?

In [ ]:
# What is the data type of each column?

In [ ]:
# Print the name of all the columns

In [ ]:
# What is the name of 4th column?

In [ ]:
# What is the type of observation of 4th column?

In [ ]:
# What is the index like?

In [ ]:
# What is the value of the element in the 50th row and 4th column?

In [ ]:
# Show only the column '31-0.0'

In [ ]:
# Open this file
# https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user
# Careful! It is not a comma separated file!!! 
# Try with the regular function that you have learnt, then check how columns are 
# separated and then use the sep = "" argument with the appropriate separator symbol

In [ ]:
# Open this file
# https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
# Don't forget the correct separator!